<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>顺丰二维码运单系统</title>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.js"></script>
    <script>
    </script>
<link rel="stylesheet" href="__PUBLIC__/CSS/common.css">
  
</head>
<body>
<div class="top_div">
<img src="__PUBLIC__/logo.png" class='logo'>
    <div  class="for_admin">
    <a href="{:U('ExcelAbout/index')}"> 传送门</a> &nbsp;&nbsp;&nbsp;
        当前用户: &nbsp;&nbsp;{$cur_user} &nbsp; &nbsp; &nbsp; <a href="{:U('Login/log_off')}">注销</a>
    </div>
</div>
<<div style="position: fixed;bottom: 20px;text-align: center;width: 100%;font-size: 18px;">
    <a style="margin-left: 10px;color: #dc1e32;" href="http://localhost:8888/admin.php/Login.html">顺丰二维码运单，拒绝隐私暴露！</a>
</div>
</body>
</html>